:root {
  /* color */
  --color-white: #fff;
  --color-black: #282828;
  --color-gray: #f2f2f2;
  --color-green: #42ad88;

  /* font-size */
  --font-md: 16px;
  --font-md-lg: 20px;
  --font-lg: 24px;

  /* font-weight */
  --font-bold: 700;
  --font-regular: 400;
}
